body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
 
.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
 
.nav-links li {
    margin: 0 15px;
}
 
.nav-links a {
    color: white;
    text-decoration: none;
}
 
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    text-align: center;
    background-image:url("5651981.jpg");
}
 
#about, #portfolio, #contact {
    padding: 60px 20px;
    margin-top: 80px;
}
 
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
}
 
.project {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px);
    text-align: justify;
}
 
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
 
button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
 
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }
}
